body {
    background: linear-gradient(to right, #007bff, #9be99b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #FBE04B;
    padding: 2em;
    border-radius: 1em;
}

.header h1 {
    text-align: center;
    margin-bottom: 1em;
}

.input input[type="email"],
.input input[type="password"] {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
}

.input button {
    display: block;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    color: white;
    background-color: #0d47a1; /* vibrant blue */
}

.input button:hover {
    background-color: #ff6f00; /* vibrant orange */
}

#toggle-form{
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;
    border-radius: 0.5em;
    border: none;
    color: white;
    background-color: #0d47a1; /* vibrant blue */
    transition: background-color 0.3s ease;
}

#toggle-form:hover {
    background-color: #ff6f00; /* vibrant orange */
}

